airportsdata==20230630
auto-py-to-exe==2.36.0
bottle-websocket==0.2.9
gevent-websocket==0.10.1
greenlet==2.0.2
macholib==1.16.2
numpy==1.25.0
pandas==2.0.3
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.4
pyparsing==3.1.0
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
tzdata==2023.3
whichcraft==0.6.1
zope.event==5.0
zope.interface==6.0
